SECRET_KEY=COLOQUE_UMA_CHAVE_SECRETA_FORTE_AQUI

DB_HOST=10.13.14.114
DB_PORT=3306
DB_USER=USUARIO_DO_MARIADB
DB_PASSWORD=SENHA_DO_MARIADB
DB_NAME=estoque_euler

ADMIN_EMAIL=EMAIL_DO_ADMIN_INICIAL
ADMIN_PASSWORD=SENHA_FORTE_DO_ADMIN_INICIAL
